<a href="https://colab.research.google.com/github/ns7123/Xente_Fraud_Detection_Challenge/blob/master/nielsmith_edsa_classif_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Honour Code,<br>
I, Niel Smith, confirm - by submitting my - that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
%matplotlib inline

In [0]:
import re
import string

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import metrics

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [0]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [655]:
# Run this cell to mount your Google Drive.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
definitions = pd.read_csv('/content/drive/My Drive/EDSA 2019/07 Classification/hackathon/Xente_Variable_Definitions.csv')
train = pd.read_csv('/content/drive/My Drive/EDSA 2019/07 Classification/hackathon/training.csv', index_col='TransactionId')
test = pd.read_csv('/content/drive/My Drive/EDSA 2019/07 Classification/hackathon/test.csv', index_col='TransactionId')
example = pd.read_csv('/content/drive/My Drive/EDSA 2019/07 Classification/hackathon/sample_submission.csv', index_col='TransactionId')

In [0]:
# definitions = pd.read_csv('Xente_Variable_Definitions.csv')
# train = pd.read_csv('training.csv', index_col='TransactionId')
# test = pd.read_csv('test.csv', index_col='TransactionId')
# example = pd.read_csv('sample_submission.csv', index_col='TransactionId')

In [658]:
pd.set_option('display.max_colwidth', -1)
definitions

             Column Name                                                                                                         Definition
0   TransactionId         Unique �transaction identifier on platform
1   BatchId               Unique number assigned to a batch of transactions for processing
2   AccountId             Unique number identifying the customer on platform
3   SubscriptionId        Unique number identifying the customer subscription
4   CustomerId            Unique identifier attached to Account
5   CurrencyCode          Country currency
6   CountryCode           Numerical geographical code of country
7   ProviderId            Source provider of Item �bought.
8   ProductId             Item name being bought.
9   ProductCategory       ProductIds are organized into these broader product categories.
10  ChannelId             Identifies if customer used web,Android, IOS, pay later or checkout.
11  Amount                Value of the transaction. Positive for debits from customer account and negative for credit into customer account
12  Value                 Absolute value of the amount
13  TransactionStartTime  Transaction start time
14  PricingStrategy       Category of Xente's pricing structure for merchants
15  FraudResult           Fraud status of transaction 1 -yes or 0-No

In [659]:
train.head()

                            BatchId  ... FraudResult
TransactionId                        ...
TransactionId_76871  BatchId_36123   ...  0
TransactionId_73770  BatchId_15642   ...  0
TransactionId_26203  BatchId_53941   ...  0
TransactionId_380    BatchId_102363  ...  0
TransactionId_28195  BatchId_38780   ...  0

[5 rows x 15 columns]

In [660]:
test.head()

                           BatchId  ... PricingStrategy
TransactionId                       ...
TransactionId_50600  BatchId_35028  ...  4
TransactionId_95109  BatchId_45139  ...  2
TransactionId_47357  BatchId_74887  ...  2
TransactionId_28185  BatchId_11025  ...  4
TransactionId_22140  BatchId_29804  ...  2

[5 rows x 14 columns]

In [661]:
example.head()

                     FraudResult
TransactionId
TransactionId_50600 NaN
TransactionId_95109 NaN
TransactionId_47357 NaN
TransactionId_28185 NaN
TransactionId_22140 NaN

In [662]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95662 entries, TransactionId_76871 to TransactionId_35670
Data columns (total 15 columns):
BatchId                 95662 non-null object
AccountId               95662 non-null object
SubscriptionId          95662 non-null object
CustomerId              95662 non-null object
CurrencyCode            95662 non-null object
CountryCode             95662 non-null int64
ProviderId              95662 non-null object
ProductId               95662 non-null object
ProductCategory         95662 non-null object
ChannelId               95662 non-null object
Amount                  95662 non-null float64
Value                   95662 non-null int64
TransactionStartTime    95662 non-null object
PricingStrategy         95662 non-null int64
FraudResult             95662 non-null int64
dtypes: float64(1), int64(4), object(10)
memory usage: 11.7+ MB

In [0]:
data = pd.concat([train.copy(), test.copy()], sort=False)

In [664]:
data[data['FraudResult']==1]

                             BatchId  ... FraudResult
TransactionId                         ...
TransactionId_60873   BatchId_93685   ...  1.0
TransactionId_28016   BatchId_125553  ...  1.0
TransactionId_1149    BatchId_10381   ...  1.0
TransactionId_136904  BatchId_52644   ...  1.0
TransactionId_88818   BatchId_54481   ...  1.0
TransactionId_65985   BatchId_34263   ...  1.0
TransactionId_4222    BatchId_127498  ...  1.0
TransactionId_2550    BatchId_79762   ...  1.0
TransactionId_49480   BatchId_77828   ...  1.0
TransactionId_66468   BatchId_89498   ...  1.0
TransactionId_45692   BatchId_129136  ...  1.0
TransactionId_6570    BatchId_51633   ...  1.0
TransactionId_64893   BatchId_126705  ...  1.0
TransactionId_15347   BatchId_62751   ...  1.0
TransactionId_62039   BatchId_66926   ...  1.0
TransactionId_59613   BatchId_66926   ...  1.0
TransactionId_65869   BatchId_68081   ...  1.0
TransactionId_120546  BatchId_68081   ...  1.0
TransactionId_66303   BatchId_121053  ...  1.0
TransactionId_48757   BatchId_93509   ...  1.0
TransactionId_26162   BatchId_132582  ...  1.0
TransactionId_51912   BatchId_116744  ...  1.0
TransactionId_12019   BatchId_71337   ...  1.0
TransactionId_122367  BatchId_63757   ...  1.0
TransactionId_88846   BatchId_116595  ...  1.0
TransactionId_132739  BatchId_117728  ...  1.0
TransactionId_66847   BatchId_11016   ...  1.0
TransactionId_111824  BatchId_37908   ...  1.0
TransactionId_8626    BatchId_25962   ...  1.0
TransactionId_63729   BatchId_62465   ...  1.0
...                             ...   ...  ...
TransactionId_27200   BatchId_105926  ...  1.0
TransactionId_54576   BatchId_131348  ...  1.0
TransactionId_114761  BatchId_82467   ...  1.0
TransactionId_129150  BatchId_5957    ...  1.0
TransactionId_62440   BatchId_113961  ...  1.0
TransactionId_113136  BatchId_42862   ...  1.0
TransactionId_27985   BatchId_15818   ...  1.0
TransactionId_55014   BatchId_130638  ...  1.0
TransactionId_31461   BatchId_56005   ...  1.0
TransactionId_61258   BatchId_127071  ...  1.0
TransactionId_83584   BatchId_43757   ...  1.0
TransactionId_113541  BatchId_34384   ...  1.0
TransactionId_15293   BatchId_68761   ...  1.0
TransactionId_98955   BatchId_40469   ...  1.0
TransactionId_126540  BatchId_134366  ...  1.0
TransactionId_137519  BatchId_61860   ...  1.0
TransactionId_96894   BatchId_48649   ...  1.0
TransactionId_22470   BatchId_130233  ...  1.0
TransactionId_17769   BatchId_27577   ...  1.0
TransactionId_65751   BatchId_75522   ...  1.0
TransactionId_73767   BatchId_97619   ...  1.0
TransactionId_89009   BatchId_63660   ...  1.0
TransactionId_127560  BatchId_82080   ...  1.0
TransactionId_592     BatchId_51726   ...  1.0
TransactionId_7273    BatchId_61354   ...  1.0
TransactionId_69673   BatchId_111976  ...  1.0
TransactionId_128664  BatchId_128748  ...  1.0
TransactionId_33086   BatchId_40160   ...  1.0
TransactionId_100613  BatchId_40160   ...  1.0
TransactionId_44276   BatchId_19378   ...  1.0

[193 rows x 15 columns]

In [665]:
data.tail()

                             BatchId  ... FraudResult
TransactionId                         ...
TransactionId_116198  BatchId_117348  ... NaN
TransactionId_24829   BatchId_53630   ... NaN
TransactionId_102920  BatchId_112209  ... NaN
TransactionId_128439  BatchId_58734   ... NaN
TransactionId_45927   BatchId_98308   ... NaN

[5 rows x 15 columns]

In [666]:
data['FraudResult'].value_counts()

0.0    95469
1.0    193
Name: FraudResult, dtype: int64

# Baseline Predict All as Fraud

In [667]:
train['FraudResult'].value_counts()[0]/(train['FraudResult'].value_counts()[0] + train['FraudResult'].value_counts()[1])

0.9979824799816019

In [668]:
metrics.f1_score(train['FraudResult'], np.ones(len(train['FraudResult'])))

0.004026915653852173

In [669]:
print(metrics.classification_report(train['FraudResult'], np.ones(len(train['FraudResult']))))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00     95469
           1       0.00      1.00      0.00       193

    accuracy                           0.00     95662
   macro avg       0.00      0.50      0.00     95662
weighted avg       0.00      0.00      0.00     95662

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [670]:
metrics.confusion_matrix(train['FraudResult'], np.ones(len(train['FraudResult'])))

array([[    0, 95469],
       [    0,   193]])

In [671]:
train.shape

(95662, 15)

In [672]:
train.nunique()

BatchId                 94809
AccountId               3633
SubscriptionId          3627
CustomerId              3742
CurrencyCode            1
CountryCode             1
ProviderId              6
ProductId               23
ProductCategory         9
ChannelId               4
Amount                  1676
Value                   1517
TransactionStartTime    94556
PricingStrategy         4
FraudResult             2
dtype: int64

In [673]:
test.nunique()

BatchId                 44684
AccountId               2471
SubscriptionId          2470
CustomerId              5018
CurrencyCode            1
CountryCode             1
ProviderId              6
ProductId               26
ProductCategory         9
ChannelId               5
Amount                  998
Value                   944
TransactionStartTime    44018
PricingStrategy         4
dtype: int64

# Data Processing

In [674]:
data.head()

                            BatchId  ... FraudResult
TransactionId                        ...
TransactionId_76871  BatchId_36123   ...  0.0
TransactionId_73770  BatchId_15642   ...  0.0
TransactionId_26203  BatchId_53941   ...  0.0
TransactionId_380    BatchId_102363  ...  0.0
TransactionId_28195  BatchId_38780   ...  0.0

[5 rows x 15 columns]

In [0]:
data['TransactionStartTime'] = pd.to_datetime(data['TransactionStartTime'])

In [0]:
data['Time_diff'] = data['TransactionStartTime'].diff().dt.total_seconds()

In [0]:
data['Time_diff'].fillna(data['Time_diff'].mean(), inplace=True)

In [0]:
data['day'] = data['TransactionStartTime'].dt.day
data['month'] = data['TransactionStartTime'].dt.month

In [679]:
data.head()

                            BatchId       AccountId  ... day month
TransactionId                                        ...
TransactionId_76871  BatchId_36123   AccountId_3957  ...  15  11
TransactionId_73770  BatchId_15642   AccountId_4841  ...  15  11
TransactionId_26203  BatchId_53941   AccountId_4229  ...  15  11
TransactionId_380    BatchId_102363  AccountId_648   ...  15  11
TransactionId_28195  BatchId_38780   AccountId_4841  ...  15  11

[5 rows x 18 columns]

In [680]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140681 entries, TransactionId_76871 to TransactionId_45927
Data columns (total 18 columns):
BatchId                 140681 non-null object
AccountId               140681 non-null object
SubscriptionId          140681 non-null object
CustomerId              140681 non-null object
CurrencyCode            140681 non-null object
CountryCode             140681 non-null int64
ProviderId              140681 non-null object
ProductId               140681 non-null object
ProductCategory         140681 non-null object
ChannelId               140681 non-null object
Amount                  140681 non-null float64
Value                   140681 non-null int64
TransactionStartTime    140681 non-null datetime64[ns, UTC]
PricingStrategy         140681 non-null int64
FraudResult             95662 non-null float64
Time_diff               140681 non-null float64
day                     140681 non-null int64
month                   140681 non-null int64
dtypes: datetime64[ns, UTC](1), float64(3), int64(5), object(9)
memory usage: 20.4+ MB

In [0]:
for col in ['CountryCode','PricingStrategy']:
    data[col] = data[col].apply(lambda x: str(x))

In [0]:
data['Value'] = data['Value'].apply(lambda x: float(x))

In [683]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140681 entries, TransactionId_76871 to TransactionId_45927
Data columns (total 18 columns):
BatchId                 140681 non-null object
AccountId               140681 non-null object
SubscriptionId          140681 non-null object
CustomerId              140681 non-null object
CurrencyCode            140681 non-null object
CountryCode             140681 non-null object
ProviderId              140681 non-null object
ProductId               140681 non-null object
ProductCategory         140681 non-null object
ChannelId               140681 non-null object
Amount                  140681 non-null float64
Value                   140681 non-null float64
TransactionStartTime    140681 non-null datetime64[ns, UTC]
PricingStrategy         140681 non-null object
FraudResult             95662 non-null float64
Time_diff               140681 non-null float64
day                     140681 non-null int64
month                   140681 non-null int64
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(11)
memory usage: 20.4+ MB

In [684]:
data.nunique()

BatchId                 139493
AccountId               4841
SubscriptionId          4836
CustomerId              7479
CurrencyCode            1
CountryCode             1
ProviderId              6
ProductId               27
ProductCategory         10
ChannelId               5
Amount                  2099
Value                   1880
TransactionStartTime    138574
PricingStrategy         4
FraudResult             2
Time_diff               1702
day                     31
month                   5
dtype: int64

In [0]:
cols_keep = ['ProviderId',
             'ProductId',
             'ProductCategory',
             'ChannelId',
             'PricingStrategy',
             'day',
             'month',
             'Amount',
             'Value',
             'FraudResult',
             'Time_diff']

In [0]:
data = data[cols_keep]

In [687]:
data.isna().sum()

ProviderId         0
ProductId          0
ProductCategory    0
ChannelId          0
PricingStrategy    0
day                0
month              0
Amount             0
Value              0
FraudResult        45019
Time_diff          0
dtype: int64

In [688]:
data.head()

                       ProviderId     ProductId  ... FraudResult    Time_diff
TransactionId                                    ...
TransactionId_76871  ProviderId_6  ProductId_10  ...  0.0         73.639906
TransactionId_73770  ProviderId_4  ProductId_6   ...  0.0         19.000000
TransactionId_26203  ProviderId_6  ProductId_1   ...  0.0         1513.000000
TransactionId_380    ProviderId_1  ProductId_21  ...  0.0         2914.000000
TransactionId_28195  ProviderId_4  ProductId_6   ...  0.0         86.000000

[5 rows x 11 columns]

In [0]:
def encode_data(input_df, cols):
    
    input_df = pd.get_dummies(input_df, columns=cols, drop_first=True, prefix=cols, prefix_sep='_')
    
    return input_df

In [690]:
cols_keep[:-4]

['ProviderId',
 'ProductId',
 'ProductCategory',
 'ChannelId',
 'PricingStrategy',
 'day',
 'month']

In [0]:
data_encoded = encode_data(data, cols_keep[:-4])

In [0]:
data_encoded = data_encoded.drop('FraudResult', axis=1)

In [693]:
data_encoded.head()

                      Amount    Value    Time_diff  ...  month_3  month_11  month_12
TransactionId                                       ...
TransactionId_76871  1000.0   1000.0   73.639906    ...  0        1         0
TransactionId_73770 -20.0     20.0     19.000000    ...  0        1         0
TransactionId_26203  500.0    500.0    1513.000000  ...  0        1         0
TransactionId_380    20000.0  21800.0  2914.000000  ...  0        1         0
TransactionId_28195 -644.0    644.0    86.000000    ...  0        1         0

[5 rows x 84 columns]

In [0]:
data_encoded['Amount'] = data_encoded['Amount'].apply(lambda x: 1 if x >= 0 else 0)

In [695]:
data_encoded.head()

                     Amount    Value    Time_diff  ...  month_3  month_11  month_12
TransactionId                                      ...
TransactionId_76871  1       1000.0   73.639906    ...  0        1         0
TransactionId_73770  0       20.0     19.000000    ...  0        1         0
TransactionId_26203  1       500.0    1513.000000  ...  0        1         0
TransactionId_380    1       21800.0  2914.000000  ...  0        1         0
TransactionId_28195  0       644.0    86.000000    ...  0        1         0

[5 rows x 84 columns]

In [696]:
data_encoded.isna().sum().sum()

0

In [0]:
scaler = StandardScaler()
# X_scaled = scaler.fit_transform(data_encoded)
X_scaled = data_encoded

# Select X, y

In [0]:
X_sub = X_scaled[len(train):]
X = X_scaled[:len(train)]
y = data['FraudResult'][:len(train)]

In [699]:
X.shape

(95662, 84)

In [700]:
train.shape

(95662, 15)

In [701]:
X_sub.shape

(45019, 84)

In [702]:
y.shape

(95662,)

In [703]:
y.isna().sum()

0

# Basic Model

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42)

In [0]:
logR = LogisticRegression(C = 0.1,
                          solver='liblinear',
                          class_weight='balanced')
logR.fit(X_train, y_train)
pred = logR.predict(X_test)

In [706]:
metrics.confusion_matrix(y_test, pred)

array([[19003,    94],
       [    0,    36]])

In [707]:
y_test.sum()

36.0

In [708]:
pred.sum()

130.0

In [709]:
logR.score(X_test, y_test)

0.9950870224219934

In [710]:
print(metrics.classification_report(y_test, pred))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00     19097
         1.0       0.28      1.00      0.43        36

    accuracy                           1.00     19133
   macro avg       0.64      1.00      0.72     19133
weighted avg       1.00      1.00      1.00     19133

# Grid Search Model

In [0]:
# # Instantiate the logistic model.
# logR = LogisticRegression(solver='saga',
#                           penalty='l2',
#                           n_jobs=-1,
#                           class_weight='balanced',
#                           max_iter=1000)

# # Create the parameters grid dictionary.
# logR_parameters = {'C': [0.001, 0.1, 1.0, 100]}


# f1_scorer = metrics.make_scorer(metrics.f1_score)

# # Set up the grid search.
# logR_grid = GridSearchCV(estimator=logR,
#                          param_grid=logR_parameters,
#                          cv=3,
#                          return_train_score=False,
#                          scoring=f1_scorer)

# logR_grid.fit(X, y)

# logR_grid.best_params_

# Final

In [712]:
logR = LogisticRegression(C = 0.1,
                          solver='liblinear',
                          class_weight='balanced')

logR.fit(X, y)

LogisticRegression(C=0.1, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
pred = logR.predict(X_sub)

In [714]:
pred.shape

(45019,)

In [0]:
sub = pd.DataFrame({'FraudResult':pred}, index=test.index)

In [716]:
sub.head()

                     FraudResult
TransactionId
TransactionId_50600  0.0
TransactionId_95109  0.0
TransactionId_47357  0.0
TransactionId_28185  0.0
TransactionId_22140  0.0

In [0]:
sub['FraudResult'] = sub['FraudResult'].apply(lambda x: int(x))

In [718]:
sub['FraudResult'].sum()

660

In [719]:
sub['FraudResult'].shape

(45019,)

In [0]:
# Create a csv output file with the predictions.
sub.to_csv('/content/drive/My Drive/EDSA 2019/07 Classification/hackathon/submission6.csv')